<div class="users-new-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-4 col-md-4 users-new-container">
				<p class="user"><%= @user.name %></p>
				<p class="user"><%= @user.email %></p>
				
			</div>
		</div>
	</div>
</div>