<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<%= link_to root_path do %>
    	<span><%= image_tag "monthcal.png", class: "navbar-brand" %></span>
    <% end %>
    <ul class="nav ul-list">
    	<li>アカウント作成</li>
    	<li>ログイン</li>
    	<li>マイスケジュール</li>
    </ul>
	</div>
</div>
<div class="main">
	<div class="container">
		<h1 class="text-center content-title">誰でも気軽に使えるスケジュール管理アプリ</h1>
	</div>
</div>
<footer>
		<div class="text-center copy-right">
			© 2020 MonthCal
		</div>
</footer>
