.navbar-brand {
	height: 50px;
	width: 250px;
}

.ul-list li {
	font-size: 18px;
	margin-left: 20px;
}

.navbar-fixed-top {
	border-bottom: 1px #DCDCDC solid;
}

.main {
	background-color: #FFCC66;
	height: 350px;
}

.content-title {
	line-height: 350px;
	letter-spacing: 10px;
}

.copy-right {
	font-size: 15px;
	color: #808080;
	margin-top: 30px;
	letter-spacing: 2px;
}

// new.html.erb　始
.form-control {
	height: 45px;
}

.users-new-wrapper {
	margin-top: 60px;
	
	h1 {
		margin-bottom: 35px;
	}
	
	.users-new-container {
		margin: auto;
	}
	
	.form-group {
		margin-bottom: 25px;
	}
	
}


.btn-block {
	color: black;
	border: 1px solid #565656;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 20px;
	background-color: rgba(0,0,0,0.1);
	
	&:hover {
		color: black;
		background-color: rgba(0,0,0,0.3);
	}
}

// flashメッセージ
.alert {
	margin-bottom: 0px;
	position: fixed;
	width: 100%;
	z-index: 10000;
}